$questions-margin-top: $elements-margin-top;
$questions-margin-right: $elements-margin-right;
$questions-margin-bottom: $elements-margin-bottom;
$questions-margin-left: $elements-margin-left;
$questions-margin: $questions-margin-left;
$questions-margin-centered: $questions-margin-top auto $questions-margin-bottom;

$questions-wide-screen-dimension: 800px;
$questions-narrow-screen-dimension: 250px;
