//-----Nova-specific------
$content-pagebody-width-wide: auto;
$content-pagebody-margin-wide: 40px !default;
$content-title-margin: $basic-margin;
$content-title-padding: $basic-padding;


// //-----Modern-specific------
// $content-richtext-margin-bottom: $layout-margin-bottom;
// $content-top-image-page-title-margin-bottom: $layout-margin-bottom;
// $content-top-image-page-subtitle-margin-bottom: $layout-margin-bottom;

// $content-top-two-image-margin-bottom: $layout-margin-bottom;
// $content-top-two-image-narrow-margin-bottom: $layout-margin-bottom;
