$banner-image-container-config: (
    max-height: 350px,
    min-height: 250px,
    max-width: 100%,
    background-repeat: no-repeat,
    background-position: 50%,
    background-size: cover,
    margin-left: 0,
    margin-right: 0
);

$banner-image-image-config: ();
