@include customize-style-block('EmbedMovieIframe') {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@include customize-style-block('Movie') {
    margin-left: auto;
    margin-right: auto;
}
