@include customize-style-block('ImageMap') {
    margin-left: auto;
    margin-right: auto;
    width: $centered-block-width;
}

@include customize-style-block('ImageMapOverlay') {
    margin-left: auto;
    margin-right: auto;
}
