@include customize-style-block('Slideshow') {
    margin: $elements-margin-centered;
}

@include customize-style-block('SlideshowPagination') {
    top: -20px;
    @media #{$basic-screen-query-normal} {
        top: -18px;
    }
}
